.vs/
msLil.Customers/bin/
msLil.Customers/obj/
msLil.Sales/bin/
msLil.Sales/obj/
msLil.Search/bin/
msLil.Search/obj/
msLil.Products/obj/
msLil.Products/bin/
msLil.Customers.Tests/bin/
msLil.Customers.Tests/obj/
msLil.Products.Test/bin/
msLil.Products.Test/obj/
msLil.Sales.Test/bin/
msLil.Sales.Test/obj/
